@charset "utf-8";

#titlediv {
		
}


#wrapper h1{
	top: 5px;
 	color:#FFFFFF;
	font-size:75px;
	text-shadow: 0 1px 0 #ccc,
 	0 2px 0 #c9c9c9,
 	0 3px 0 #bbb,
 	0 4px 0 #b9b9b9,
 	0 5px 0 #aaa,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
	margin-top: 15px;
}

#titlecentre{
	text-align: center;
	margin: 0;	
}

#maintitle{
	font-family: "Lucida Console", Monaco, monospace;
	font-weight : bold;
	text-align : center;
	margin-bottom : 12px;
	top : 0px;
	font-size : 75px;
	margin-top: 15px;
	text-decoration:none;
}

.tsec1{
	color : #0033cc;
	text-shadow : 0px 1px 0px #002eb8,
	0px 2px 0px #0029a3,
	0px 3px 0px #00248f,
	0px 4px 0px #001f7a,
	0px 5px 0px #001a66,
	0px 6px 1px rgba(0,0,0,.1),
	0px 0px 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.4),
	0 3px 5px rgba(0,0,0,.5), 
	0 5px 10px rgba(0,0,0,.8),
	0 10px 10px rgba(0,0,0,.6),
	0 20px 20px rgba(0,0,0,.75);
}

span.tsec1:hover{
 	color:#0066ff;
	text-shadow: 0 1px 0 #005ce6,
 	0 2px 0 #0052cc,
 	0 3px 0 #0047b2,
 	0 4px 0 #003d99,
 	0 5px 0 #003380,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

#bradleylink{
	text-decoration: none;
}

.tsec2{
 	color:#009900;
	text-shadow: 0 1px 0 #008a00,
 	0 2px 0 #007a00,
 	0 3px 0 #006b00,
 	0 4px 0 #005c00,
 	0 5px 0 #004c00,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

span.tsec2:hover{
 	color:#00cc00;
	text-shadow: 0 1px 0 #00b800,
 	0 2px 0 #00a300,
 	0 3px 0 #008f00,
 	0 4px 0 #007a00,
 	0 5px 0 #006600,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

#rugbylink{
	text-decoration: none;
}

.tsec3{
 	color:#9900cc;
	text-shadow: 0 1px 0 #8a00b8,
 	0 2px 0 #7a00a3,
 	0 3px 0 #6b008f,
 	0 4px 0 #5c007a,
 	0 5px 0 #4c0066,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

span.tsec3:hover{
 	color:#cc00cc;
	text-shadow: 0 1px 0 #b800b8,
 	0 2px 0 #a300a3,
 	0 3px 0 #8f008f,
 	0 4px 0 #7a007a,
 	0 5px 0 #660066,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

#damonlink{
	text-decoration: none;	
}

.tsec4{
 	color:#cc3300;
	text-shadow: 0 1px 0 #b82e00,
 	0 2px 0 #a32900,
 	0 3px 0 #8f2400,
 	0 4px 0 #7a1f00,
 	0 5px 0 #661a00,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

span.tsec4:hover{
 	color:#ff6600;
	text-shadow: 0 1px 0 #e65c00,
 	0 2px 0 #cc5200,
 	0 3px 0 #b24700,
 	0 4px 0 #993d00,
 	0 5px 0 #803300,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

#perrylink{
	text-decoration: none;
}

.tsec5{
 	color:#ff3399;
	text-shadow: 0 1px 0 #E62E8A,
 	0 2px 0 #CC297A,
 	0 3px 0 #B2246B,
 	0 4px 0 #991F5C,
 	0 5px 0 #801A4C,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

span.tsec5:hover{
 	color:#FF3083;
	text-shadow: 0 1px 0 #E62B76,
 	0 2px 0 #CC2669,
 	0 3px 0 #B2225C,
 	0 4px 0 #991D4F,
 	0 5px 0 #801842,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
}

#alistairlink{
	text-decoration:none;
}

#subtitlemain {
	font-size: 20px;
	text-align: center;
	word-spacing: 30px;
	margin-top: 4px;
	margin-bottom: 4px;
}

#youtubepicture {
	position: fixed;
	left: 8px;
	bottom: 8px;
	width: 90x;
	height: 57px;	
}

#youtubepicture:hover {
	position: fixed;
	left: 8px;
	bottom: 8px;
	width: 112.5x;
	height: 69.25px;
	z-index: +1;
}

#fbpic {
	position: fixed;
	left: 8px;
	bottom: 68px;
	width: 101.5px;
	height: 57px;	
}

#fbpic:hover {
	position: fixed;
	left: 8px;
	bottom: 60px;
	width: 126.5px;
	height: 69.5px;
	z-index: +1;	
}

#titleul {
    border: 0;
    height: 2px;
	width: 0px;
    background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1.0), rgba(0,0,0,1)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1.0), rgba(0,0,0,1)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1.0), rgba(0,0,0,1)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1.0), rgba(0,0,0,1));
	margin-top: 5px;
	-webkit-animation: bgfadein;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
	animation: bgfadein;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

#subtitleul {
    border: 0;
    height: 2px;
	width: 0px;
    background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1));
	-webkit-animation: bgfadein;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
	animation:bgfadein;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;

}

@-webkit-keyframes bgfadein{
	0% {width: 0%;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));}
	
	10% {
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.10)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.10)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.10)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.10));}
	
	20%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.20)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.20)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.20)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.20));}
	
	30%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.30)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.30)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.30)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.30));}	
	
	40%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.40)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.40)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.40)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.40));}
		
	50%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.50)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.50)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.50)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.50));}
		
	60%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.60)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.60)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.60)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.60));}
		
	70%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.70)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.70)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.70)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.70));}
		
	80%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.80)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.80)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.80)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.80));}
		
	90%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.90)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.90)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.90)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.90));}
	
	100% {width: 100%;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1));}
}

@keyframes bgfadein{
0% {width: 0%;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));}
	
	10% {
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.10)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.10)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.10)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.10));}
	
	20%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.20)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.20)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.20)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.20));}
	
	30%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.30)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.30)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.30)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.30));}	
	
	40%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.40)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.40)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.40)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.40));}
		
	50%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.50)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.50)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.50)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.50));}
		
	60%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.60)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.60)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.60)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.60));}
		
	70%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.70)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.70)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.70)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.70));}
		
	80%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.80)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.80)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.80)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.80));}
		
	90%{
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.90)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.90)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.90)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.90));}
	
	100% {width: 100%;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1));}

}

@-webkit-keyframes bgfadeout{
	0% {background-color: #ffffff;}
	100% {background-color: #4c4c4c;}
}

@keyframes bgfadeout{
	0% {background-color: #ffffff;}
	100% {background-color: #4c4c4c;}
}

#twitterlnk {
	position: fixed;
	left: 8px;
	bottom: 128px;
	width: 102px;
	height: 57px;	
}

#twitterlnk:hover {
	position: fixed;
	left: 8px;
	bottom: 120px;
	width: 127px;
	height: 69.5px;
	z-index: +1;	
}

#links {
	text-align: center;
	text-decoration:none;
}

#downloads{
	text-decoration:none;
}

#videobrowse{
	text-decoration:none;
}

#censorb {
	-moz-box-shadow:inset 0px 1px 0px 0px #65aaeb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #65aaeb;
	box-shadow:inset 0px 1px 0px 0px #65aaeb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #52a9ff), color-stop(1, #2e8ae6));
	background:-moz-linear-gradient(top, #52a9ff 5%, #2e8ae6 100%);
	background:-webkit-linear-gradient(top, #52a9ff 5%, #2e8ae6 100%);
	background:-o-linear-gradient(top, #52a9ff 5%, #2e8ae6 100%);
	background:-ms-linear-gradient(top, #52a9ff 5%, #2e8ae6 100%);
	background:linear-gradient(to bottom, #52a9ff 5%, #2e8ae6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a9ff', endColorstr='#2e8ae6',GradientType=0);
	background-color:#52a9ff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #78afe6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3c89d6;
	border:none;
	outline:none;
}
#censorb:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e8ae6), color-stop(1, #52a9ff));
	background:-moz-linear-gradient(top, #2e8ae6 5%, #52a9ff 100%);
	background:-webkit-linear-gradient(top, #2e8ae6 5%, #52a9ff 100%);
	background:-o-linear-gradient(top, #2e8ae6 5%, #52a9ff 100%);
	background:-ms-linear-gradient(top, #2e8ae6 5%, #52a9ff 100%);
	background:linear-gradient(to bottom, #2e8ae6 5%, #52a9ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e8ae6', endColorstr='#52a9ff',GradientType=0);
	background-color:#2e8ae6;
}
#censorb:active {
	position:relative;
	top:1px;
	outline:none;
}
