@charset "utf-8";
/* CSS Document */

html, body { padding:0;margin:0;}

body{
	background-color:#bf2a2a;
}

@-webkit-keyframes bgtransition{
	0% {background-color:#F60;}
	20% {background-color: #090;}
	40% {background-color: #09F;}
	60% {background-color: #90C;}
	80% {background-color: #FF66FF;}
	100% {background-color: #F60;}
}

@keyframes bgtransition{
	0% {background-color:#F60;}
	20% {background-color: #090;}
	40% {background-color: #09F;}
	60% {background-color: #90C;}
	80% {background-color: #F3F;}
	100% {background-color: #F60;}
}

#bodydiv{
	border:#333, thick;	
}

#title{
	height:100%;
	text-align:center;
	font: "Lucida Console", Monaco, monospace;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bold;
	text-align:center;
	margin-bottom: 12px;
	top: 5px;
 	color:#e60000;
	font-size:75px;
	text-shadow: 0 1px 0 #cf0000,
 	0 2px 0 #b80000,
 	0 3px 0 #a10000,
 	0 4px 0 #8a0000,
 	0 5px 0 #730000,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
	-webkit-animation: bgtransition;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count:infinite;
	animation: bgtransition;
	animation-duration: 30s;
	animation-iteration-count:infinite;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#titleDiv{
	height:8%;
	margin-bottom:1px;
	border-bottom:#000 solid medium;
	
}

#parent{
	margin-top: 0px;
	padding: 0,0,0,0;
	margin-left:0px;
	min-height:700px;
	position: relative;
}

#sidebar{
	position: fixed;
	background-color: #e61616;
	left: 0px;
	top: 15%;
	width: 7.25%;
	text-align: right;
	min-width: 98px;
	vertical-align:middle;
	z-index:1;
	border: solid 2px #000;
	border-left:none;
	border-radius: 5px;
}

.sortbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff3700), color-stop(1, #ad1d00));
	background:-moz-linear-gradient(top, #ff3700 5%, #ad1d00 100%);
	background:-webkit-linear-gradient(top, #ff3700 5%, #ad1d00 100%);
	background:-o-linear-gradient(top, #ff3700 5%, #ad1d00 100%);
	background:-ms-linear-gradient(top, #ff3700 5%, #ad1d00 100%);
	background:linear-gradient(to bottom, #ff3700 5%, #ad1d00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3700', endColorstr='#ad1d00',GradientType=0);
	background-color:#ff3700;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	text-align:center;
	width: 100%;
	margin: 0 0 0 0;
}
.sortbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad1d00), color-stop(1, #ff3700));
	background:-moz-linear-gradient(top, #ad1d00 5%, #ff3700 100%);
	background:-webkit-linear-gradient(top, #ad1d00 5%, #ff3700 100%);
	background:-o-linear-gradient(top, #ad1d00 5%, #ff3700 100%);
	background:-ms-linear-gradient(top, #ad1d00 5%, #ff3700 100%);
	background:linear-gradient(to bottom, #ad1d00 5%, #ff3700 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad1d00', endColorstr='#ff3700',GradientType=0);
	background-color:#ad1d00;
}
.sortbutton:active {
	position:relative;
	top:1px;
}

.sortbutton:focus {
	outline:none;	
}

#firstButton {
}

#secondButton {
	
}

#thirdButton {
	
}

#fourthButton {
	
}

#fifthButton {
}

#search{
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 10%;
	font-size: 18px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight:bold;
}

#searchbar{
	border: solid 1px #000;
	outline:none;
	font-size: 14px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight:bold;
}

#searchbar:focus{
	outline:none
}

.videoList {
	margin:3% 3% 5% 3%;
	padding-top:0px;
	text-align:center;
	display:inline-block;
}

.videoName {
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight:bold;
}

.videoimg{
	border:solid thin #000;	
}
