@charset "utf-8";
body{
	background-color: #853385;
}
#title{
	font: "Lucida Console", Monaco, monospace;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bold;
	text-align:center;
	margin-bottom: 12px;
	top: 5px;
 	color:#9900cc;
	font-size:75px;
	text-shadow: 0 1px 0 #8a00b8,
 	0 2px 0 #7a00a3,
 	0 3px 0 #6b008f,
 	0 4px 0 #5c007a,
 	0 5px 0 #4c0066,
 	0 6px 1px rgba(0,0,0,.1),
 	0 0 5px rgba(0,0,0,.1),
 	0 1px 3px rgba(0,0,0,.4),
 	0 3px 5px rgba(0,0,0,.50),
 	0 5px 10px rgba(0,0,0,.80),
 	0 10px 10px rgba(0,0,0,.60),
 	0 20px 20px rgba(0,0,0,.75);
	margin-top: 15px;
}

#subtitle{
	text-align:center;
	font-size:18px;
}

#videos{
	text-align: center;
}

#return{
	text-align: center;
	text-decoration: none;
	font-family:"Courier New", Courier, monospace;
	font:"Courier New", Courier, monospace;
	color:#000;
}